.products {
  display: flex;
  flex-wrap: wrap;
}


.product-card {
  margin: 5px;
  border-radius: 5px;
  background-color: #f2f2f2;
  flex-basis: 16%;
  display: flex; /* child elements can use flexbox stuff too! */
  padding: 20px;
}


.product-image img {
  width: 170px;
  height: 220px;
}

.product-info {
  margin-top: auto;
text-align: center;
  padding-bottom: 12px;
  margin-left: 5px;
}

.fa-shopping-cart{
  color: white;
  margin-left: 5px;
}